html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 100px;
  /* Offset for fixed header */
}

/* Custom Objectivity font faces */
@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity';
  src: url('/fonts/Objectivity/Objectivity-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: 'Objectivity', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Objectivity', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contact {
  scroll-margin-top: 200px;
}

#product {
  scroll-margin-top: 85px;
}
